.App {
  font-family: "Radio Canada Big", sans-serif;
  max-width: 700px;
  margin: 0 auto;
  padding: 60px 0;
}

.App footer {
  padding: 30px 0;
}

.App footer a {
  font-size: 12px;
  text-decoration: none;
  color: #053b6a;
  transition: all 100ms ease-in-out;
}

.App footer a:hover {
  font-weight: 700;
}
