.Dictionary h1 {
  font-size: 20px;
  padding-left: 40px;
  color: #053b6a;
  font-weight: 400;
}

.Dictionary .search-input {
  padding: 0 40px;
  border: 1px solid #ddd;
  border-radius: 50px;
  height: 60px;
  font-size: 18px;
}

.Dictionary .searchBtn {
  max-width: 60px;
  border-radius: 30px;
  margin-left: 20px;
}

.Dictionary .searchBtn:hover {
  cursor: pointer;
  scale: 105%;
}
