.Dictionary h1 {
  font-size: 16px;
  font-weight: 700;
  color: #004fb4;
  padding-left: 40px;
}

.Dictionary .search-input {
  padding: 0 40px;
  border: 1px solid #ddd;
  border-radius: 50px;
  height: 60px;
}

.Dictionary .searchBtn {
  max-width: 60px;
  border-radius: 30px;
  margin-left: 20px;
  box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.5);
}

.Dictionary .searchBtn:hover {
  cursor: pointer;
  scale: 105%;
}
