.Results h2 {
  color: #053b6a;
  font-size: 36px;
      padding-left: 30px;

}

.Results h3 {
  opacity: 0.8;
  font-size: 24px;
  padding-bottom: 20px;
    padding-left: 30px;

}

.Results section {
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 6px;
  border: 1px solid #ddd ;
box-shadow: rgb(5, 59, 106) 0px 5px 10px -10px;
}
