.Synonyms {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.Synonyms .synonym {
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 25px;
  text-decoration: none;
  color: #212529;
}

.Synonyms .synonym:hover {
  color: #004fb4;
  cursor: pointer;
}
